@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --calendar-border: black;

}

html, body {
  background-color: white;
}

.social {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  text-decoration-line: underline;
}

*::placeholder {
  color: #6b7280 !important;
}


@media screen and (max-width:940px) {
  ::-webkit-scrollbar {
    display: none;
  }
}